h1, h2, h3 ,h4 , h5, h6 {
	font-family: "Poppins";
}

body {
	font-family: "Open Sans";
}

p {
	margin: 1rem 0;
	line-height: 1.3;
}

button {
	font-family: "Poppins";
}

img {
	width: 100%;
}

@media(max-width: 1000px) {
	body {
		background:
			url("../images/bg/bg-hero-mobile.svg")
			no-repeat,
			linear-gradient(to top, hsl(192, 100%, 9%) 870px, rgba(0, 0, 0, 0) 870px),
			linear-gradient(to bottom, hsl(193, 100%, 96%) 500px, #FFF 500px)
			;
	}
}

@media(min-width: 1000px) {
	body {
	background:
		url("../images/bg/bg-hero-desktop.svg")
		no-repeat,
		linear-gradient(to top, hsl(192, 100%, 9%) 510px, rgba(0, 0, 0, 0) 510px),
		linear-gradient(to bottom, hsl(193, 100%, 96%) 100vh, #FFF 100vh);
	}
}